## Final Project

!pip install boto3

In [2]:
import boto3
from botocore.client import Config
from botocore.exceptions import ClientError

In [3]:
# Set up AWS credentials
aws_access_key_id = 'AKIAQEFWANUA3WBDRHXE'
aws_secret_access_key = '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'

# Create a session using the credentials
session = boto3.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
)

# Create an S3 client
s3 = session.client('s3', config=Config(signature_version='s3v4'))

# Specify your bucket name and file name
bucket_name = 'us-accidents-final'
file_name = 'US_Accidents_March23.csv'

# Verify the bucket contents
try:
    response = s3.list_objects_v2(Bucket=bucket_name)
    if 'Contents' in response:
        print("Files in the bucket:")
        for obj in response['Contents']:
            print(obj['Key'])
    else:
        print("Bucket is empty or does not exist.")
except ClientError as e:
    print(f"Error listing objects in bucket: {e}")

Files in the bucket:
US_Accidents_March23.csv

In [ ]:
# Download the file to notebook
s3_bucket = s3.download_file(bucket_name, file_name, file_name)
print(s3_bucket)

In [6]:
# Load the file into a Pandas DataFrame
import pandas as pd
data = pd.read_csv(file_name)
data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [ ]:
#Running info() functiont to understand the makeup of the dataframe
data_df.info()
print('-------')
print(len(data_df))

In [ ]:
#validating if there are any duplicated values
print(f'there are: {data_df.duplicated().sum()} duplicated values in the dataset')

In [8]:
# Inspecting the dataframe for null values
na_counts = data_df.isna().sum()
print(na_counts)

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

**Discussion on dropping records/columns** Based on the above results, there are some columns with significant numbers of null/na values. Given that we do not believe the are relationships (linear or otherwise) between the data items, and given that each record represents a different event, which may have occured in a different state at a different time, under different weather conditions, we will choose to either drop the columns with significant missing values (subject to our assessment of their significance to our objective) or drop the rows/records with missing values (whose columns we have deeped important to our objective and thus will keep). While this will greatly reduce the number of records, we are confident that the remaining data will be of a higher quality and will result in better modeling.

In [10]:
#filtering for columns where result is greater than 1 
filterd_na_counts = na_counts[na_counts>1]

#displaying the result
print(filterd_na_counts)

ID                       7728394
Source                   7728394
Severity                 7728394
Start_Time               7728394
End_Time                 7728394
Start_Lat                7728394
Start_Lng                7728394
End_Lat                  4325632
End_Lng                  4325632
Distance(mi)             7728394
Description              7728389
Street                   7717525
City                     7728141
County                   7728394
State                    7728394
Zipcode                  7726479
Country                  7728394
Timezone                 7720586
Airport_Code             7705759
Weather_Timestamp        7608166
Temperature(F)           7564541
Wind_Chill(F)            5729375
Humidity(%)              7554250
Pressure(in)             7587715
Visibility(mi)           7551296
Wind_Direction           7553188
Wind_Speed(mph)          7157161
Precipitation(in)        5524808
Weather_Condition        7554935
Amenity                  7728394
Bump                     7728394
Crossing                 7728394
Give_Way                 7728394
Junction                 7728394
No_Exit                  7728394
Railway                  7728394
Roundabout               7728394
Station                  7728394
Stop                     7728394
Traffic_Calming          7728394
Traffic_Signal           7728394
Turning_Loop             7728394
Sunrise_Sunset           7705148
Civil_Twilight           7705148
Nautical_Twilight        7705148
Astronomical_Twilight    7705148
dtype: int64

In [ ]:
Based on the above results. We Will trim the data to remove: 
**1. columns that we do not deem useful based on our objectives and related ratioanale** 
- End_lat: many missing values. We we have full beginning lat values. 
- End_Lng: many missing values. We we have full beginning Lng values.
- Airport_Code: not significant to our analysis - mainly used for weather reasons. 
- Weather_Timestamp: not significant to our analysis. We have beginning time and end time. 
- Wind_Chill(F): not significant to our analysis, we have weather_condition. 
- Precipitation(in): we have weather_condition
- Nautical_Twilight: Will use Civil_Twilight
- Astronomical_Twilight: Will use Civil_Twilight

and, 
**2. Rows with null values that will potentially skew the results. In this case we only drop the rows related to the missing values**: 
- Description
- Street
- City
- Zipcode
- Timezone
- Temperature
- Humidity(%)
- Pressure(in)
- Visibility(mi)
- Wind_Direction
- Wind_Speed(mph)
- Weather_Condition
- Sunrise_Sunset             
- Civil_Twilight

In [14]:
len(data_df)

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [ ]:
# Dropping Columns first

clean_data = data_df.drop(columns = ['End_Lat','End_Lng','Airport_Code','Weather_Timestamp','Wind_Chill(F)',
                     'Precipitation(in)','Nautical_Twilight','Astronomical_Twilight'], inplace=False)

clean_data.info()

In [ ]:
#Dropping Na/Null records related to specified columns

clean_data.dropna(subset = ['Description','Street','City','Zipcode','Temperature(F)','Humidity(%)','Pressure(in)',
                      'Visibility(mi)','Wind_Direction','Wind_Speed(mph)','Weather_Condition','Sunrise_Sunset','Civil_Twilight'], inplace=True)

In [15]:
# Rechecking if there are any null values left in the dataset
clean_data.isna().sum()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
5,A-6,Source2,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-7,Source2,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [16]:
clean_data.info()

ID                       7728394
Source                   7728394
Severity                 7728394
Start_Time               7728394
End_Time                 7728394
Start_Lat                7728394
Start_Lng                7728394
End_Lat                  4325632
End_Lng                  4325632
Distance(mi)             7728394
Description              7728389
Street                   7717525
City                     7728141
County                   7728394
State                    7728394
Zipcode                  7726479
Country                  7728394
Timezone                 7720586
Airport_Code             7705759
Weather_Timestamp        7608166
Temperature(F)           7564541
Wind_Chill(F)            5729375
Humidity(%)              7554250
Pressure(in)             7587715
Visibility(mi)           7551296
Wind_Direction           7553188
Wind_Speed(mph)          7157161
Precipitation(in)        5524808
Weather_Condition        7554935
Amenity                  7728394
Bump                     7728394
Crossing                 7728394
Give_Way                 7728394
Junction                 7728394
No_Exit                  7728394
Railway                  7728394
Roundabout               7728394
Station                  7728394
Stop                     7728394
Traffic_Calming          7728394
Traffic_Signal           7728394
Turning_Loop             7728394
Sunrise_Sunset           7705148
Civil_Twilight           7705148
Nautical_Twilight        7705148
Astronomical_Twilight    7705148
dtype: int64

In [ ]:
print(f'we reduced the total records by a total of {len(data_df) - len(clean_data)} rows, and total columns by 8')